[submodule "third_party/LspCpp"]
	path = third_party/LspCpp
	url = https://github.com/kuafuwang/LspCpp.git
[submodule "third_party/hash_sha256"]
	path = third_party/hash_sha256
	url = https://github.com/imahjoub/hash_sha256.git
	branch = main
